@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap");

* {
  margin: 0px;
  padding: 0px;
}
html,
body {
  height: 100%;
  font-size: 16px;
  font-family: "Kanit", sans-serif;
  line-height: 1.8em;
  color: #666;
}

.img1,
.img2,
.img3,
.img4 {
  position: relative;
  opacity: 0.7;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  /* 
    fixed = Parallax
    scroll = Normal 
    */

  background-attachment: fixed;
}

.img1 {
  background-image: url("/images/04.png");
  min-height: 100%;
}

.img2 {
  background-image: url("/images/01.jpg");
  min-height: 60%;
}

.img3 {
  background-image: url("/images/02.jpg");
  min-height: 60%;
}
.img4 {
  background-image: url("/images/03.jpg");
  min-height: 60%;
}

.section {
  text-align: center;
  padding: 7% 10%;
}

.section-2 {
  background-color: #072227;
  color: #fff5e1;
}

.section-1,
.section-3 {
  background-color: #f5f5f5;
  color: #121212;
}

.img1-text,
.img4-text {
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
  color: #fff5e1;
  font-size: 47px;
  letter-spacing: 15px;
}

@media (max-width: 500px) {
  .img1-text,
  .img4-text {
    font-size: 30px;
    letter-spacing: 5px;
  }

  .img1,
  .img2,
  .img3,
  .img4 {
    background-attachment: scroll;
  }
}
